<header>
   <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit"
  />
</header>
<app-header></app-header>
<div class="profile-container" *ngIf="errorMessage">
    <p>{{errorMessage}}...</p>
</div>
<div class="profile-container" *ngIf="userGetRes && !isLoading" >
  <div class="base-container">
    <div class="set-profileBox">
      <div class="frame-profile">
        <div class="set-circle">
          <img [src]="userGetRes.profile_image" class="set-image" />
        </div>
      </div>
      <a [routerLink]="['/user/edit-profile',userGetRes.user_id]" class="edit-profile">
        <span
          class="material-symbols-outlined"
         
        >
          edit
        </span>
      </a>

      <p class="set-name">{{userGetRes.username}}</p>
      <p class="set-email">{{userGetRes.email}}</p>
      <div class="set-moneyBox">
        <p class="set-textmoney">ยอดคงเหลือ</p>
        <p class="set-number">{{userGetRes.wallet_balance}}</p>
      </div>
      <div>
        <div class="set-menu-profile">
          <a [routerLink]="['/user/mygamehub',userGetRes.user_id]" class="set-menu-detail">
            <span class="material-symbols-outlined"></span>
            <!-- sports_esports -->
            <p>คลังเกมของฉัน</p>
          </a>
          <hr class="set-hr">
          <div>
            
          </div>
          <a [routerLink]="['/user/transpage',userGetRes.user_id]" class="set-menu-detail">
           <span class="material-symbols-outlined"></span> <!--compare_arrows-->
            <p >ประวัติการทำรายการ</p>
          </a>
            <hr class="set-hr">
          <a [routerLink]="['/user/edit-profile',userGetRes.user_id]" class="set-menu-detail">
            <span class="material-symbols-outlined"></span>
            <!-- edit -->
            <p>แก้ไขโปรไฟล์</p>
          </a>
          <hr class="set-hr">
        </div>
        <div class="center-btn">
           <button class="set-logout-btn" (click)="onLogout()">ออกจากระบบ</button>
        </div>
       
      </div>
    </div>
    <div class="set-column">
      <div class="set-gameBox"></div>
      <div class="set-transBox">
        
      </div>
    </div>
  </div>
</div>
