.profile-container{
     display: flex;
     flex-direction: row;
     align-items: start;
     justify-content:start;
     width: 1280px;
     height: 700px;
     margin: 30px auto;
     border-radius: 10px;
     background-color: #1e1e1e;
}
.base-container{
     display: flex;
     flex-direction: row;
     gap: 30px;
     align-items: start;
     justify-content:start;
     // width: 1280px;
     margin-right: 10px;
     height: 580px;
     border-radius: 10px;
     padding: 20px 20px 20px 20px;
     // background-color: red;
}
.set-profileBox{
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     padding-top: 30px;
     width: 400px;
     height: 580px;
     border-radius: 10px;
     box-shadow: 5px 5px 5px #1e1e1e;
     background-color:#121212;
}
.edit-profile{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 220px;
  left: 370px;
  background-color: #262626;
  color: white;
  font-size: 14px;
  padding: 6px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.edit-profile:hover {
  background-color: #1e1e1e;
}
.set-menu-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  margin-bottom:10%;
//   background-color: yellow
}
.set-menu-detail{
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 100%;
 gap: 8px;
 cursor: pointer;
 font-size: 18px;
 color: #262626;
//  background-color: rebeccapurple;
}
.set-menu-detail p{
//  background-color: olive;
 width: 200px;

}
.set-menu-detail .material-symbols-outlined {
  font-size: 20px;
}
.set-hr{
   border: none;             
  height: 1.5px;             
  background-color: #262626; 
  margin-right: 50%;       
  width: 80%;                
  margin-bottom: 0;
  margin-top: 0;
  transition: all 0.1s ease;
   
}
.set-menu-detail:hover {
  color: #D9d9d9;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.set-menu-detail:hover + .set-hr {
  background-color: #D9d9d9;
  box-shadow: 0 0 10px #D9d9d9;
  transition: all 0.3s ease;
}
.set-name{
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.set-email{
   margin-bottom: 20px;
  color: #928C8C;
  font-size: 18px;
  // font-weight: bold;
}
.set-moneyBox{
  display: flex;
  flex-direction: column;
  align-items: center;
 width: 220px;
 height: 80px;
 margin-bottom:5%;
 border-radius: 10px;
 background-color: #262626;
}
.set-textmoney{
  color: #6F9A37;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 18px;
  font-weight: bold;
//   background-color: darkblue;
}
.set-number{
  // margin-bottom: 10px;
  color: white;
  font-size: 28px;
  font-weight: bold;
//   background-color: chartreuse;
}
.set-logout-btn{
     width: 150px;
     height: 35px;
     background-color: #FF3B30;
     color: white;
     font-size: 16px;
     font-weight: bold;
     border-radius: 30px;
     border: none;
     cursor: pointer;
     transition: all 0.1s ease;
}
.set-logout-btn:hover{
     background-color: #ee2e24;
     box-shadow: 0 0 10px #FF3B30;
     color: #ffffff;
     transform: scale(1.05);  

}
.frame-profile {
  display: flex;
  align-items: center;
  justify-content:  center;
  background-color: #6F9A37;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.set-circle{
  width: 90%;
  height: 90%;
  border-radius: 50%;          
  overflow: hidden;          
  background-color: #444; 

}

.set-image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.set-column{
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 20px;
//   background-color: palegreen;

}
.set-editBox{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 800px;
     height: 600px;
     border-radius: 10px;
     margin-top: 2%;
     box-shadow: 5px 5px 5px #1e1e1e;
     background-color: #121212;
}
.set-editColumn{
     display: flex;
     flex-direction: column;
     width: 90%;
     height: 100%;
     // background-color: rebeccapurple;
}
.set-editRow{
      display: flex;
     flex-direction: row;
     align-items: start;
     justify-content: space-evenly;
     width: 100%;
     height: 100%;
     margin-top: -15%;
     // background-color: fuchsia;
}
.set-edit-title{
     color: white;
     font-size: 20px;
     // background-color: red;
     margin-bottom: 18%;

}
.set-fieldBox{
     display: flex;
     flex-direction: column;
     width: 40%;
     height: 50%;
     margin-top: -10px;
     // background-color: gray;

}
.set-fill{
     display: flex;
     flex-direction: column;
     width: 100%;
     padding-bottom: 5px;
     // background-color: sandybrown;

}
mat-form-field{
     background-color: white;
     border-radius: 5px;
     height: 57%;
}
mat-label{
     margin-left: 10px;
     font-size: 16px;
     color: white;
     font-weight: bolder;
}
.image-sec{
     margin-right: 30%;
     // background-color: darkgrey;
}
.edit-Image {
  display: flex;
  align-items: center;
  justify-content:  center;
  background-color: #6F9A37;
  border-radius: 60%;
  width: 180px;
  height: 180px;
}

.edit-frame{
  width: 92%;
  height: 92%;
  border-radius: 50%;          
  overflow: hidden;          
  background-color: #444; 

}

.edit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;           /* ให้รูปเต็มวงกลมแบบไม่บี้ */
}
.set-save-btn{
     width: 150px;
     height: 35px;
     background-color: #6F9A37;
     color: white;
     font-size: 16px;
     font-weight: bold;
     border-radius: 30px;
     border: none;
    //  margin-top: 20%;
     cursor: pointer;
     transition: all 0.1s ease;
}
.set-save-btn:hover{
     background-color: #5a7d28;
     box-shadow: 0 0 10px #6F9A37;
     color: #ffffff;
     transform: scale(1.05);  

}
.set-cancel-btn{
     width: 150px;
     height: 35px;
     background-color: #262626;
     color: white;
     font-size: 16px;
     font-weight: bold;
     border-radius: 30px;
     border: none;
    //  margin-top: 20%;
     cursor: pointer;
     transition: all 0.1s ease;
}
.set-cancel-btn:hover{
     background-color: #121212;
     box-shadow: 0 0 10px #262626;
     color: #ffffff;
     transform: scale(1.05);  

}
.set-btn{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     // gap: 10%;
     width: 100%;
     margin-bottom: 40px;
     // background-color: darkblue;
}
.upload-btn {
  position: absolute;
  top: 60%;
  right: 55%;
  background-color: #262626;
  color: white;
  font-size: 20px;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn:hover {
  background-color: #4a6925;
}

.upload-btn input {
  display: none;
}